<%- include("partials/header") %>
    <div class="heading">
        <h1>You are an winner</h1>
    </div>
    <div class="signUpField">
        <p>You found my secret !!!</p>
        <form action="/logout" method="post">
            <div class="submitField">
                <button type="submit">Logout</button>

            </div>
        </form>
        
    </div>
    

<%- include("partials/footer") %>
